.mobileGallery
    display: none
.gallery
    background: url(../../img/projects/projects__bg.png)
    .btn
        width: 280px
        &-waves
            margin-top: -51px
            margin-left: -290px
        &-wave
            transform: translate(0, 66px)
            display: none
        &-glow
            transform: translate(35px, 56px)
        &-text
            top: 23%
            left: 14%
            font-size: 20px
            // width: 100%
    &__swiper
        height: 80px
        width: 98%
        display: flex
        margin: auto

    &__row
        display: flex
        flex: 0 1 33.333%
        flex-wrap: wrap
        justify-content: space-around
    &__unselectedImages
        display: flex
        // flex-direction: column
        &Row
            display: flex
            flex-direction: column
        &Item
            cursor: pointer
            width: 220px
            height: 140px
            margin: 0
            padding: 0
    &__selectedImage
        cursor: pointer
        transition: all 0.5s
        width: 920px
        height: 545px
        position: relative
        &Item
            margin-top: 15px
            width: 100%
            height: 545px
    &__selectors
        cursor: pointer
        text-transform: uppercase
        font-size: 20px
        font-weight: 700
        &Rock
            transition: all 0.5s
            z-index:
            line-height: 70px
            text-align: center
            background: #d8d8d8
            height: 70px
            width: 50%
            color: #000
            position: absolute
            top: 0
        &Wood
            transition: all 0.5s
            border-radius: 0 20px 0 20px
            line-height: 70px
            text-align: center
            color: #000
            height: 70px
            width: 55%
            background: #d8d8d8
            position: absolute
            top: 0
            right: 0
        &Active
            background: #4aca5a
            color: #fff

    &__desc
        background: url(../../img/gallery/gallery__bg.png)
        height: 560px
        &Row
            // margin-top: 20px
            display: flex

            // flex-wrap: wrap
        &Works
            display: flex
            flex-direction: column
            // flex-wrap: wrap
            margin-left: 50px
            &Title
                text-align: left
                font-size: 27px
                font-weight: 700
            &Text
                margin-left: 10px
                text-align: left
                font-size: 18px
                font-weight: 500
            &Deadline
                margin-left: 110px
        &Btn
            margin-top: 30px
            font-size: 24px

@media screen and (max-width: 1800px)
    .gallery
        .btn
            &-glow
                transform: translate(57px, 56px)
        &__selectedImage
            width: 736px
            &Item
                height: 444px
        &__unselectedImages
            &Item
                cursor: pointer
                width: 176px
                height: 112px
        &__desc
            &Row
                flex-direction: column
            &Works
                &Title
                    font-size: 20px
                &Text
                    font-size: 15px
                &Deadline
                    margin-left: 50px
            &Btn
                font-size: 20px

@media screen and (max-width: 1600px)
    .gallery
        &__selectedImage
            width: 613px
            height: 500px

@media screen and (max-width: 767px)
    .gallery
        display: none
    .mobileGallery
        height: 900px
        margin-top: 30px
        display: block
        .btn
            &-waves
                margin-top: -16px
            &-glow
                transform: translate(41px, 6px)
        .swiper-container
            width: 98%
            margin: auto
    .gallery
        &__selectedImage
            width: 100%
            // height: 340px
            margin: auto
            &item
                max-width: 90px
                height: 340px
        &__selectors

            font-size: 15px
            &Rock
                width: 50%
                line-height: 2
                max-height: 100
                top: -152px
            &Wood
                width: 55%
                line-height: 2
                max-height: 100
                top: -152px
        &__unselectedImages
            max-width: 90%
            margin: auto
            height: 50px
            &Item
                width: 30%

                height: 80px
        &__desc
            background: none
            font-size: 15px
            background: none
            max-width: 100%
            margin: auto
            &Row
                margin-top: 20px
                flex-direction: row
            &Works
                &Title
                    font-size: 10px
                &Text
                    margin: 0
                    margin-top: 10px
                    font-size: 10px
                &Deadline
                    margin-left: 120px
            &Btn
                font-size: 10px

@media screen and (max-width: 320px)
    .gallery
        &__unselectedImages
            width: 100%
            &Item
                max-width: 90px
                height: 70px
        &__selectors
            font-size: 10px
