<section
	class="features anim anim-no-repeat"
	data-aos="zoom-in"
	data-aos-delay="200"
>
	<div class="container">
		<div class="features__row">
			<div class="features__item" data-id="0">
				<h3 class="features__itemTitle">
					Готовые дома <br />
					под ключ
				</h3>
				<p class="features__itemDesc" data-id="0">
					Ценим каждого клиента, делаем работу качественно и быстро. От
					конкурентов нас отличает низкая цена на строительные материалы и
					выполнение работ. <br />
					<br />
					Мы уделяем внимание кадрам компании. В нашей команде только
					высококвалифицированные специалисты с профильным образованием:
					дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
					сформированы из
				</p>

				<a class="features__itemExpand" type="button" data-id="0">
					Подробнее
				</a>
				<img
					class="features__itemIcon features__itemIconKeys"
					src="./img/features/features__keys.png"
				/>
			</div>
			<div class="features__item" data-id="1">
				<h3 class="features__itemTitleEdu features__itemTitle">
					Кадры с высшим образованием
				</h3>
				<p class="features__itemDesc" data-id="1">
					Ценим каждого клиента, делаем работу качественно и быстро. От
					конкурентов нас отличает низкая цена на строительные материалы и
					выполнение работ. <br />
					<br />
					Мы уделяем внимание кадрам компании. В нашей команде только
					высококвалифицированные специалисты с профильным образованием:
					дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
					сформированы из
				</p>
				<a class="features__itemExpand" type="button" data-id="1">
					Подробнее
				</a>
				<img
					class="features__itemIcon features__itemIconEdu"
					src="./img/features/features__education.png"
				/>
			</div>
			<div class="features__item" data-id="2">
				<h3 class="features__itemTitleGuarant">
					Гарантия <br />
					10 лет
				</h3>
				<p class="features__itemDesc" data-id="2">
					Ценим каждого клиента, делаем работу качественно и быстро. От
					конкурентов нас отличает низкая цена на строительные материалы и
					выполнение работ. <br />
					<br />
					Мы уделяем внимание кадрам компании. В нашей команде только
					высококвалифицированные специалисты с профильным образованием:
					дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
					сформированы из
				</p>
				<a class="features__itemExpand" type="button" data-id="2">
					Подробнее
				</a>
				<img
					class="features__itemIcon features__itemIconGuarant"
					src="./img/features/features__guarantee.png"
				/>
			</div>
			<div class="features__item" data-id="3">
				<h3 class="features__itemTitleBuild features__itemTitle">
					Строим как себе!
				</h3>
				<p class="features__itemDesc" data-id="3">
					Ценим каждого клиента, делаем работу качественно и быстро. От
					конкурентов нас отличает низкая цена на строительные материалы и
					выполнение работ. <br />
					<br />
					Мы уделяем внимание кадрам компании. В нашей команде только
					высококвалифицированные специалисты с профильным образованием:
					дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
					сформированы из
				</p>
				<a class="features__itemExpand" type="button" data-id="3">
					Подробнее
				</a>
				<img
					class="features__itemIcon features__itemIconHeart"
					src="./img/features/features__heart.png"
				/>
			</div>
		</div>
	</div>
</section>
<section class="mobileFeatures">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="features__item" data-id="0">
					<h3 class="features__itemTitle">
						Готовые дома <br />
						под ключ
					</h3>
					<p class="features__itemDesc" data-id="0">
						Ценим каждого клиента, делаем работу качественно и быстро. От
						конкурентов нас отличает низкая цена на строительные материалы и
						выполнение работ. <br />
						<br />
						Мы уделяем внимание кадрам компании. В нашей команде только
						высококвалифицированные специалисты с профильным образованием:
						дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
						сформированы из
					</p>
					<a class="features__itemExpand" type="button" data-id="0">
						Подробнее
					</a>
					<img
						class="features__itemIcon features__itemIconKeys"
						src="./img/features/features__keys.png"
					/>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="features__item" type="button" data-id="1">
					<h3 class="features__itemTitle">Кадры с высшим образованием</h3>
					<p class="features__itemDesc" data-id="1">
						Ценим каждого клиента, делаем работу качественно и быстро. От
						конкурентов нас отличает низкая цена на строительные материалы и
						выполнение работ. <br />
						<br />
						Мы уделяем внимание кадрам компании. В нашей команде только
						высококвалифицированные специалисты с профильным образованием:
						дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
						сформированы из
					</p>
					<a class="features__itemExpand" type="button" data-id="1">
						Подробнее
					</a>
					<img
						class="features__itemIcon features__itemIconKeys"
						src="./img/features/features__education.png"
					/>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="features__item" data-id="2">
					<h3 class="features__itemTitle">
						Гарантия <br />
						10 лет
					</h3>
					<p class="features__itemDesc" data-id="2">
						Ценим каждого клиента, делаем работу качественно и быстро. От
						конкурентов нас отличает низкая цена на строительные материалы и
						выполнение работ. <br />
						<br />
						Мы уделяем внимание кадрам компании. В нашей команде только
						высококвалифицированные специалисты с профильным образованием:
						дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
						сформированы из
					</p>
					<a class="features__itemExpand" type="button" data-id="2">
						Подробнее
					</a>
					<img
						class="features__itemIcon features__itemIconKeys"
						src="./img/features/features__guarantee.png"
					/>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="features__item" data-id="3">
					<h3 class="features__itemTitle">Строим как себе!</h3>
					<p class="features__itemDesc" data-id="3">
						Ценим каждого клиента, делаем работу качественно и быстро. От
						конкурентов нас отличает низкая цена на строительные материалы и
						выполнение работ. <br />
						<br />
						Мы уделяем внимание кадрам компании. В нашей команде только
						высококвалифицированные специалисты с профильным образованием:
						дизайнеры, проектировщики, архитекторы, инженеры, сметчики, бригады
						сформированы из
					</p>
					<a class="features__itemExpand" type="button" data-id="3">
						Подробнее
					</a>
					<img
						class="features__itemIcon features__itemIconKeys"
						src="./img/features/features__heart.png"
					/>
				</div>
			</div>
		</div>
	</div>
</section>
