<section
	class="feedback"
	data-aos="slide-up"
	data-aos-delay="400"
	id="feedbackSection"
>
	<div class="container">
		<div class="feedback__row">
			<img
				class="feedback__img"
				src="./img/feedback/feedback__img.png"
				alt="Ксения"
			/>
			<div class="feedback__review">
				<h3 class="feedback__reviewName">Ксения</h3>
				<h4 class="feedback__reviewTown">Стерлитамак</h4>
				<p class="feedback__reviewText">
					Накопилось за эти 5 месяцев не мало. Застройка шла отлично,но не без
					трудностей и маленьких проблем. Долго подготавливали макетпроекта, не
					могли определиться, хотели прям что-то минималистическое, наконец
					подобрали. Далее подготовительные работы, мы купил участок на
					болотистой местности, не проверив, пришлось подготавливать вначале
					саму землю. Как всё это сделали, начался процесс, и сам процесс шёл по
					времени примерно, как все работы которые я озвучила ранее. Ребята
					действительно молодцы, очень быстро и оперативно всё делают. Благодарю
					компанию Доступный дом, честно, огромный поклон.
				</p>
				<a class="feedback__reviewExpand">Посмотреть проект</a>
				<img
					class="feedback__reviewUp"
					src="./img/feedback/feedback__up-arrow.png"
				/>
				<img
					class="feedback__reviewDown"
					src="./img/feedback/feedback__up-arrow.png"
				/>
			</div>
		</div>
	</div>
</section>

<section class="mobileFeedback">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="container">
					<div class="mobileFeedback__top">
						<img
							class="mobileFeedback__topImg"
							src="./img/feedback/feedback__img.png"
						/>
						<div class="mobileFeedback__topInfo">
							<h3 class="mobileFeedbackName feedback__reviewName">Ксения</h3>
							<h4 class="mobileFeedbackTown feedback__reviewTown">
								Стерлитамак
							</h4>
							<div class="mobileFeedback__topNav">
								<img
									class="mobileFeedback__topArrowLeft"
									src="./img/feedback/feedback__up-arrow.png"
								/>
								<img
									class="mobileFeedback__topArrowRight"
									src="./img/feedback/feedback__up-arrow.png"
								/>
							</div>
						</div>
					</div>
					<div class="mobileFeedback__body">
						<p class="mobileFeedback__text feedback__reviewText">
							Накопилось за эти 5 месяцев не мало. Застройка шла отлично,но не
							без трудностей и маленьких проблем. Долго подготавливали
							макетпроекта, не могли определиться, хотели прям что-то
							минималистическое, наконец подобрали. Далее подготовительные
							работы, мы купил участок на болотистой местности, не проверив,
							пришлось подготавливать вначале саму землю. Как всё это сделали,
							начался процесс, и сам процесс шёл по времени примерно, как все
							работы которые я озвучила ранее. Ребята действительно молодцы,
							очень быстро и оперативно всё делают. Благодарю компанию Доступный
							дом, честно, огромный поклон.
						</p>
					</div>
					<div class="mobileFeedback__bottom feedback__reviewExpand">
						Посмотреть проект
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
