<footer class="footer">
	<div class="footer__info">
		<div class="footer__contacts">
			<div
				class="footer__contactsAddress"
				data-aos="fade-in"
				data-aos-delay="650"
			>
				Стерлитамак, <br />
				ул. Профсоюзная 2к1
			</div>
			<div class="footer__contactsPhone">8-965-921-9000</div>
			<h3 class="footer__contactsTagline">Уже работаем!</h3>
		</div>
		<img
			class="footer__logo"
			src="./img/logo.png"
			alt="Логотип"
			data-aos="fade-in"
			data-aos-delay="700"
		/>
		<!-- src="https://yandex.ru/map-widget/v1/?um=constructor%3A5af0aae49b155fdeabb01423afe2ba10fe0a2513ad2cbb5d2e36a11195994f1e&amp;source=constructor"  -->
		<iframe
			class="footer__map"
			width="500"
			height="150"
			frameborder="0"
			data-aos="fade-out"
			data-aos-delay="750"
		></iframe>
	</div>
	<div class="footer__id">ООО ТЁПЛЫЙ ДОМ ИНН/ОГРН 12345678/12345678</div>
</footer>
<script src="js/main.js"></script>

<div class="mobileFooter">
	<div class="footer__info">
		<div class="footer__contacts">
			<div class="footer__contactsPhone">8-965-921-9000</div>
			<h3 class="footer__contactsTagline">Бесплатный Звонок !</h3>
			<div class="footer__contactsAddress">
				Стерлитамак, <br />
				ул. Профсоюзная 2к1
			</div>
		</div>
		<iframe
			class="footer__map"
			width="500"
			height="150"
			frameborder="0"
			data-aos="fade-out"
			data-aos-delay="750"
		></iframe>
		<img
			class="footer__logo"
			src="./img/logo.png"
			alt="Логотип"
			data-aos="fade-in"
			data-aos-delay="700"
		/>
	</div>
	<div class="footer__id">ООО ТЁПЛЫЙ ДОМ ИНН/ОГРН 12345678/12345678</div>
</div>
