	<header class="header">
		<div class="container" style="display: flex; flex-wrap: wrap">
			<FadeInLeft>
				<a class="header__logo" href="./">
					<img
						class="header__logoImg wow rollIn"
						src="./img/header/header__logo.png"
						alt="Логотип"
					/>
				</a>
			</FadeInLeft>
			<FadeInRight>
				<nav class="header__nav">
					<ul class="header__menu">
						<li class="header__menuItem">
							<a class="header__menuLink" href="./"> Главная </a>
						</li>
						<li class="header__menuItem">
							<a class="header__menuLink" href="./"> Наши проекты </a>
						</li>
						<li class="header__menuItem">
							<a class="header__menuLink" href="./"> Отзывы </a>
						</li>
						<li class="header__menuItem">
							<a class="header__menuLink" href="./"> Этапы работ </a>
						</li>
					</ul>
				</nav>
			</FadeInRight>
			<div class="header__contacts">
				<div class="header__contactsAddress">
					Стерлитамак, <br />
					ул. Профсоюзная 2к1
				</div>
				<div class="header__contactsPhone">
					<h4 class="header__contactsPhoneText">8-965-921-9000</h4>
					<h5 class="header__contactsPhoneFreecall">Бесплатный звонок!</h5>
				</div>
			</div>
		</div>
	</header>
</div>
